<div id="side-bar">
    <h3> Países </h3>
    <hr>

    <!-- 

    <ul class="list-group">
        <li class="list-group-item"
            *ngFor="let cat of categories "> 
            
            {{ cat.name }}
        </li>
    </ul>-->

    <ul class="list-group">

        <li class="list-group-item" routerLink="countries/by-capital" routerLinkActive="active" > 
            Por Capital
        </li>
        <li class="list-group-item" routerLink="countries/by-pais" routerLinkActive="active"> 
            Por Pais
        </li>
        <li class="list-group-item" routerLink="countries/by-region" routerLinkActive="active"> 
            Por Región
        </li>


    </ul>


</div>
